# ---------- repo-specific
data/
/experiments/
/provided_embeddings*/
/provided_models*/
/provided_profiling*/
/rt_yc2_feat/
/tests_*/
/cache_caption/
/annotations/
/error_analysis/
/ponnet_data/
/assets/
/pretrained*/
/wandb/
/BDD-X-Dataset/
/out/
/tmp_img*/
data_*/

# ----- BilaS ------
.vscode/
NotUse/
*_old/
results/
checkpoints/
cmake-3.25.0/
faiss/
temp.sh

# ------ jaSPICE -----
wnjpn.db
metrics/JaSPICE/
knp-4.20/
juman*/
juman*
parsed.db


# ---------- general

# big files
*.npz
*.h5
*.bin
*.gz
*.pkl
*.pt
*.png
*.txt
*-ubyte

# pycharm
.idea/
*/.idea/

# temp files
.directory
nohup.out
~$*.*
.nfs*
.DS_Store
*.swp
*.exe.stackdump
.~lock.*

# python
__pycache__/
.pytest_cache/
.ipynb_checkpoints
.mypy_cache/
.dmypy.json
dmypy.json
.python-version

# testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

fiveTime.sh
